---
layout: wrapper
---

{% include hero.html%}

<div class="arrow"> 
    <a href="#projects">
        More About Me
    <i class="fa-solid fa-angles-down"></i>
    </a> 
</div>

{% include projects.html%}
{% include skills.html%}
{% include contact.html%}

<!-- Ajouter un bouton vers la section privée -->
<section id="private">
  <h2>Accès Privé</h2>
  <p>Cette section est réservée. Cliquez ci-dessous et entrez vos identifiants.</p>
  <a href="/private/index.html" class="btn">Accéder à la zone privée</a>
</section>
