{% assign image_paths = include.images | split: ", " %}
{% assign gallery_height = include.height | default: "300" %}
{% assign mode = include.mode | default: "cover" %}

<div class="image-gallery" style="--gallery-height: {{ gallery_height }}px;">
  {% for image_path in image_paths %}
    {% assign image_name = image_path | strip %}

    {% if image_name contains 'http' %}
      <!-- Image externe -->
      <img 
        class="{{ mode }}"
        src="{{ image_name }}"
        alt="Web image"
        loading="lazy"
      />
    {% else %}
      <!-- Image locale dans le dossier du projet -->
      <img 
        class="{{ mode }}"
        src="{{ site.baseurl }}/assets/images/projects/{{ page.folder }}/{{ image_name }}"
        alt="{{ image_name }}"
        loading="lazy"
      />
    {% endif %}
  {% endfor %}
</div>
