<section id="projects" class="project-grid-section">
  <h2>Projects</h2>
  <div class="grid-container">
    {% for item in site.projects %}
      {% assign project_folder = item.folder %}
      <a href="{{ site.baseurl }}{{ item.url }}" class="project-link">
        <div class="project-card" data-tilt data-tilt-scale="1.02" data-tilt-glare data-tilt-max-glare="0.3">
          <!-- Image principale -->
          <img src="{{ site.baseurl }}/assets/images/projects/{{ project_folder }}/{{ item['main-image'] }}" alt="{{ item.title }} image">

          <!-- Titre du projet -->
          <h3 class="project-title">{{ item.title }}</h3>

          <!-- Compétences -->
          <div class="project-skills">
            {% for skill in item.skills %}
              <span class="skill">{{ skill }}</span>
            {% endfor %}
          </div>

          <!-- Description -->
          <p class="project-description">{{ item.description }}</p>

          <!-- Bouton Read More -->
          <button class="read-more">Read more →</button>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
